.comment {

}

.comment__client {
  
}

.comment__commentator {
  clear:both;
  text-align: center;
  width: 280px;
  font-weight: 400;
  line-height: 28px;
}

.comment__img {
  width: 280px; 
  height: 280px; 
  position:relative;
  z-index:-1;
  display:block;
}

.comment__client-img {
  float: left;
  margin-right: 20px;
  margin-bottom: 11px;
  width: 280px; 
  height: 280px; 
  display:inline-block;
  border-radius: 140px;
  background: radial-gradient(50.00% 50.00% at 50% 50%,rgba(196, 196, 196, 0),rgba(108, 2, 135, 0.5) 100%);
}

.comment__text {
  padding-top: 52px;
  font-weight: 400;
  line-height: 28px;
}

.comments {

}

.comments__item {
  margin-top: 50px;
}

.comments__list {
  max-width: 980px;
  margin: 0 auto;
}

.comments__title {

}

.container {

}

.section {

}

.section-title {
  
}