.section__form {
  background-color: var(--main-purple);
  padding: 80px 0;
}

.fieldset {
  margin-bottom: 60px;
}

.legend {
  color: rgb(255, 255, 255);
  font-family: Arial;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.lable {
  color: rgb(255, 255, 255);
  font-family: Arial;
  font-size: 22px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: left;
}


.bordGame{

}

.bordGame__input{
  width: 25px;
  height: 25px;
}

.bordGame__label{

}

.bordGame__legend{

}

.consoles{

}

.consoles__input{
  margin-right: 12px;
  width: 27px;
  height: 27px;
}

.consoles__label{

}

.consoles__legend{
  margin-bottom: 23px;
}

.consoles__list {
  /* display: flex;
  flex-direction: column;
  gap: 20px; */
}

.form__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.extra{

}

.extra__input{
  width: 25px;
  height: 25px;
}

.extra__label{

}

.extra__legend{

}

.form{

}

.form-halls{
  
}

.form-halls__input{
  opacity:0;
}

.form-halls__label {
  color: black;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  width: 250px;
  height: 55px;
  color: rgb(0, 0, 0);
  font-family: Arial;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  display: flex;

}

.form-halls__list {
  /* border-radius: 8px;
  background: rgb(255, 255, 255); */
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.form-information {
  
}

.form-information__info-contacts{

}

.form-information__info-date{

}

.form-information__info-person{

}

.form-information__item{

}

.form-information__legend{

}

.form-information__list{

}

.form-kit{
  
}

.form-kit__bordGame {
  display: flex;
  flex-direction: column;
}

.form-kit__consoles{
  display: flex;
  flex-direction: column;
}

.form-kit__extra {
  display: flex;
  flex-direction: column;
}


.form-kit__legend{

}

.form__body {
  
}

.form__chekbox{

}

.form__reservation{
  display: flex;
  justify-content: flex-end;
  }

.form__btn {
  border-radius: 10px;
  background: rgb(255, 255, 255);
  color: rgb(108, 2, 135);
  font-family: Arial;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  padding: 16px 50px;
}

.info-contacts{

}

.info-contacts__input{

}

.info-contacts__label{

}

.info-date{

}

.info-date__input {


}


.info-date__label{

}

.info-person{

}

.info-person__input{

}

.info-person__label{

}

.form-kit__inventory {
  display: flex;
  justify-content: space-around;
}

.form__title {
  color: rgb(255, 255, 255);
  font-family: Arial;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 40px;
  }
