.section_form {
  background-color: var(--main-purple);
  padding: 80px 0;
}

.fieldset {
  margin-bottom: 60px;
}

.legend {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.form__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  margin-bottom: 40px;
}


.form__label {
  font-size: 22px;
  font-weight: 400;
  line-height: 25px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.form__input {
  margin-right: 12px;
  cursor: pointer;
}


.bordGame{

}

.bordGame__input{
  width: 25px;
  height: 25px;
}

.bordGame__label{
  display: flex; 
  align-items: center;
}

.bordGame__legend{
  margin-bottom: 24px;
}

.consoles{

}

.consoles__input{
  width: 27px;
  height: 27px;
}


.consoles__input::after {
  border: 1px solid rgb(205, 6, 255);
}


.consoles__label {
  
}

.consoles__legend{
  margin-bottom: 23px;
}

.consoles__list {

}

.form__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.extra{

}

.extra__input{
  width: 25px;
  height: 25px;
}

.extra__label{

}

.extra__legend{
  margin-bottom: 23px;
}

.form{

}

.form-halls{
  
}

.form-halls__input{
  opacity:0;
}

.form-halls__label:hover {
  border: 3px solid rgb(100, 10, 163);
  border-radius: 8px;
  background: rgb(234, 222, 237);
}

.form-halls__label:active {
  border: 3px solid rgb(255, 255, 255);
  border-radius: 8px;
  background: rgb(108, 2, 135);
  color: rgb(255, 255, 255);
}

.form-halls__label:focus {
  border: 3px solid rgb(100, 10, 163);
  border-radius: 8px;
  background: rgb(255, 255, 255);
}

.form-halls__label {
  border-radius: 8px;
  background: var(--main-color);
  width: 250px;
  height: 55px;
  color: var(--main-very-dark);
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;

}

.form-halls__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info-date__list {
  width: 134px;
  appearance: none;
  background: url('../img/select.svg') no-repeat rgb(255, 255, 255) center;
  background-position-x: calc(100% - 27px);
  height: 52px;
  padding: 12px 0 12px 20px;
  cursor: pointer;
}

.form-information {
  
}

.form-information__body {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  column-gap: 50px;
}

.form-information__info-contacts{
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.form-information__info-date{
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 28px;
  gap: 36px;
}

.form-information__info-person{
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.form-information__item{

}

.form-information__legend{

}

.form-information__list {
  width: 300px;
  height: 52px;
  appearance: none;
  background: url('../img/select.svg') no-repeat rgb(255, 255, 255) center;
  background-position-x: calc(100% - 27px);
  padding: 12px 0 12px 20px;
  cursor: pointer;

}
.info-datetime {
  display: flex;
  gap: 32px;
}

.form-kit{
  
}

.form-kit__bordGame {
  display: flex;
  flex-direction: column;
}

.form-kit__consoles{
  display: flex;
  flex-direction: column;
}

.form-kit__extra {
  display: flex;
  flex-direction: column;
}


.form-kit__legend{
  
}

.form__body {
  
}

.form__chekbox{

}

.form__reservation {
  display: flex;
  justify-content: flex-end;
  padding-right: 100px;
}

.form__btn {
  border-radius: 10px;
  background: var(--main-color);
  color: var(--main-menu-bg);
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  padding: 16px 50px;
  border: 3px solid var(--main-color);
  height: 60px;
}

.form__btn:hover {
  border-color: rgb(108, 2, 135);
  background: rgb(234, 222, 237);
}

.form__btn:focus {
  border-color: rgb(108, 2, 135);
  background: rgb(255, 255, 255);
}

.form__btn:active {
  border-color: rgb(234, 222, 237);
  background: rgb(234, 222, 237);
}

.info-contacts{

}

.info-contacts__input{
  width: 300px;
  height: 52px;
  cursor: pointer;
}

.info-contacts__input:focus {
  box-sizing: border-box;
  border: 2px solid rgb(205, 6, 255);
  background: rgb(255, 255, 255);
}

.info-contacts__label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 6px;
  cursor: pointer;
}

.info-date{

}

.info-date__input {

}


.info-date__label{

}

.info-person{

}

.info-person__input{
  width: 280px;
  height: 52px;
  cursor: pointer;
}

.info-person__input:focus {
  border: 2px solid rgb(205, 6, 255);
}

.info-person__label{
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 6px;
  cursor: pointer;
}

.form-kit__inventory {
  display: flex;
  justify-content: space-around;
}

.info-contacts__input:focus {
  outline: none;
  border: 2px solid rgb(205, 6, 255);
}

.info-person__input:focus {
  outline: none;
  border: 2px solid rgb(205, 6, 255);
}

.form-information__list:focus {
  outline: none;
  border: 2px solid rgb(205, 6, 255);
}

.info-date__list:focus {
  outline: none;
  border: 2px solid rgb(205, 6, 255);
}

.form__input:focus {
  outline: 1px solid rgb(205, 6, 255);
}

