.halls__item {
    display: inline-block;
    align-items: center;
    margin-bottom: 20px;
    width: 580px;
    height: 349px;
    /* width: 100%; */
}

.halls__item:not(:nth-child(2n)) {
    margin-right: 14px; 
}

.halls__item:nth-last-child(-n+2) {
    margin-bottom: 0; 
}

.halls__link {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
    text-transform: uppercase;
    margin: 0 auto;
    background-repeat: no-repeat;
    text-align: center;
}

.halls__link:hover {
    color: rgb(108, 2, 135);
    transition-duration: 0.5s;
}

.halls__list {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    padding-top: 20px;
    display: inline-block;
    vertical-align: top;
    gap: 20px;
}

.halls__item_vibes {
    background-image: url("../img/80vibes.jpg");
}

.halls__item_starwars {
    background-image: url("../img/starWars.jpg");
}

.halls__item_west {
    background-image: url("../img/wildWest.jpg");
}

.halls__item_neon {
    background-image: url("../img/neonStyle.jpg");
}
