.header {
  padding-top: 30px;
}

.container-header {
  display: flex;
  justify-content: space-between;
}

.logo {

}

.navigation {
  padding: 8px 0;
}

.navigation__item {

}

.navigation__link {

}

.navigation__list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  font-size: 22px;
  line-height: 50px;
  text-transform: uppercase;
  height: 100%;
  width: 100%;
  align-items: center;
  width: 587px;
}

.header__btn {
  border: 3px solid var(--main-purple-light);
  border-radius: 10px;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  padding: 12px 32px 13px;
  margin-top: 8px;
  margin-bottom: 3px;
}

.header__btn:hover, .header__btn:focus {
  border-color: rgb(108, 2, 135);
  background: rgb(108, 2, 135);
  transition-duration: 0.5s;
}

.header__btn:active {
  border-color: rgb(0, 0, 0);
  background: rgb(100, 10, 163);
  transition-duration: 0.2s;
}