.banner {
    height: 823px;
    position: relative;
}
.banner:after {
    position: absolute;
    right: 0;
    bottom: 0;
    content: "";
    background-repeat: no-repeat;
    background-image: url("../img/header.png");
    width: 675px;
    height: 762px;
    z-index: 0;
}
.banner__title {
    font-weight: 900;
    font-size: 150px;
    line-height: 150px;
    text-transform: uppercase;
    letter-spacing: -0.1em;
}
.banner__subtitle {
    width: 400px;
    font-size: 28px;
    line-height: 50px;
    padding-left: 100px;
    width: 100%;
    margin-bottom: 30px;
}

.banner__advantages {
    display: flex;
    column-gap: 40px;
    margin-bottom: 150px;

}

.banner__hall {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    width: 193px;
}

.banner__four {
    color: rgb(205, 6, 255);
    font-family: Arial;
    font-size: 100px;
    font-weight: 900;
    line-height: 141px;
    letter-spacing: 0%;
    text-align: center;
}

.banner__equipment {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    width: 166px;
}

.banner__new {
    color: rgb(205, 6, 255);
    font-family: Arial;
    font-size: 75px;
    font-weight: 900;
    line-height: 106px;
    letter-spacing: 0%;
    font-variant: small-caps;
}

.banner__text {
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 30px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0%;
    text-align: center;
}

.banner__btn {
    border-radius: 10px;
    padding: 25px 69px;
    background: rgb(108, 2, 135);
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    position: absolute;
}

.banner__down {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 90px;
    height: 144px;
}

.banner__down-img {
    z-index: 1;
    
}
