.inventory {

}

.inventory__heading {
  position: absolute;
  top: 166px;
  left: 40px;
  color: rgb(255, 255, 255);
  font-family: Arial;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  width: 300px;

}

.inventory__img {

}

.inventory__object {
  position: relative;
}

.inventory__object:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
  box-shadow: 1px 2px 5px -1px white;
}

.inventorys {

}

.inventorys__item {

}

.inventorys__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 20px;
  /* flex-direction: row; */
}

.inventorys__title {

}

