.questions__list{
  padding-top: 40px;
}


.questions__item {
  background-color: var(--main-color); /*цвет фона*/
  color: var(--graphite-black); /*цвет текста*/
  font-weight: 700; /*вес(жирность) шрифта*/
  font-size: 24px; /*размер шрифта*/
  padding: 30px 70px; /*внутренние отступы в самом элементе по вертикали и горизонтали*/
  margin-bottom: 20px; /*внешний отступ внизу элемента*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.questions__item:nth-child(2n) {
  color: var(--main-color);             /*цвет текста*/
  background-color: var(--main-purple); /*цвет фона*/
}

.questions__item:last-child {
  margin-bottom: 0;
}

/* .questions__item:nth-child(odd):after,.questions__item:nth-child(even):after {
  content: "";
  width: 46px;
  height: 46px;
  display: block;
} */
/* .questions__item:nth-child(odd):after {
  background-image: url("../img/open-purple.svg");
} */

/* .questions__item:nth-child(even):after {
  background-image: url("../img/open.svg");
}  */


.svg-purple:hover path {
  fill: var(--main-color);
  transition-duration: 0.2s;
}

.svg-purple:hover circle {
  stroke: var(--main-menu-bg);
  transition-duration: 0.5s;
} 

.svg-purple:hover rect {
  fill: var(--main-menu-bg);
  transition-duration: 0.5s;
}

.svg-purple:active .svg-purple__path {
  fill: var(--main-color);
  transition-duration: 0.2s;
}

.svg-white:hover path {
  fill: var(--main-menu-bg);
  transition-duration: 0.2s;
}

.svg-white:hover circle {
  stroke: var(--main-color);
  transition-duration: 0.5s;
} 

.svg-white:hover rect {
  fill: var(--main-color);
  transition-duration: 0.5s;
}

.svg-white:active .svg-white__path {
  fill: var(--main-color);
  transition-duration: 0.2s;
}
